name: Controller Flake8

on:
  pull_request:
    # Ignore PRs on branches specifically intended for other assets
    branches-ignore:
      - '*/guacamole-chart*'
      - '*/guacamole-crds-chart*'
    # Only consider PRs that change files for this asset, including ci scripts
    paths:
      - '.github/workflows/controller-flake8.yaml'
      - '.github/workflows/controller-container.yaml'
      - 'containers/controller/**'
    # Make sure all workflows that are "required checks" for a given
    # branch protection rule have the same paths: and branches-ignore:
    # filters. Otherwise, you can end up in a deadlock waiting on a
    # required check that will never be executed.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # This linting can be cancelled if there is a newer commit to lint
  cancel-in-progress: true

jobs:
  controller-flake8:
    uses: SwanseaUniversityMedical/workflows/.github/workflows/flake8.yaml@v1.0.0-flake8
    with:
      config-file: '.github/.flake8'
      source-path: 'containers/src/'
